@model List<Movie>

<div class="text-center">
    <h1 class="display-4">Peliboxd</h1>
    <h2>Lista de pelis</h2>
</div>

<ol>
    @foreach (var movie in Model)
    {
        <li><a asp-action="Detail" asp-route-id="@movie.Code">@movie.Name</a></li>
    }
</ol>

<a asp-action="Create">Crear Pelicula</a>